@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: IRANSans;
        font-style: normal;
        font-display: swap;
        src:url("../../assets/font/IRANSans/IRANSansXV.woff") format("woff-variations"),
            url("../../assets/font/IRANSans/IRANSansXV.woff") format("woff");
    }
    
    h1 {
        @apply h-heading2 
    }
    h2 {
        @apply h-heading3
    }
    h3 {
        @apply h-heading4
    }
    h4 {
        @apply h-heading5
    }
    h5 {
        @apply h-heading6
    }
    h6 {
        @apply h-subtitle2
    }
    p {
        margin-bottom: 0 !important;
        @apply h-body1 
    }

    @screen md {
        h1 {
            @apply h-heading1
        }
        h2 {
            @apply h-heading2
        }
        h3 {
            @apply h-heading3
        }
        h4 {
            @apply h-heading4
        }
        h5 {
            @apply h-heading5
        }
        h6 {
            @apply h-heading6
        }
    }

    blockquote {
        border-right: 5px solid #A0AEC0;
        @apply pr-3 my-3
    }

    ul{
        padding-left: 1.7em;
        padding-right: 1.7em;
        margin: 0 0 1.2em 0;
        list-style: circle;
        @apply h-body1
    }

    blockquote p{
        @apply h-quote 
    }
}   

@layer utilities {
    .post-content h1 {
        @apply mb-4
    }
    .post-content h2 {
        @apply my-2
    }
    .post-content h3 {
        @apply my-2
    }
    .post-content h4 {
        @apply my-1
    }
    .post-content h5 {
        @apply my-1
    }
    .post-content h6 {
        @apply my-1
    }
    .post-content p {
        margin-bottom: 1rem !important;
    }

    .h-heading1 {
        font-family: "IRANSans";
        font-size: 1.9rem !important; 
        line-height: 3.2rem; 
        font-weight: 600;
        font-variation-settings: 'wght' 900;
    }
    
    .h-heading2 { 
        font-family: "IRANSans";
        font-size: 1.45rem !important; 
        line-height:  3rem;
        font-weight: 600;
        font-variation-settings: 'wght' 900;
        letter-spacing: 0px;
    }
    
    .h-heading3 { 
        font-family: "IRANSans";
        font-size: 1.3rem !important; 
        line-height: 2.9rem;
        font-weight: 500;
        font-variation-settings: 'wght' 900;
        letter-spacing: -.4px;
    }
    
    .h-heading4 { 
        font-family: "IRANSans";
        font-size: 1.15rem !important; 
        line-height: 2.6rem;
        font-weight: 500;
        font-variation-settings: 'wght' 800;
        letter-spacing: -.3px;
    }
    
    .h-heading5 { 
        font-family: "IRANSans";
        font-size: 1rem !important; 
        line-height: 2.3rem;
        font-weight: 600;
        font-variation-settings: 'wght' 900;
    }
    
    .h-heading6 { 
        font-family: "IRANSans";
        font-size: .9rem !important; 
        line-height: 1.9rem;
        font-weight: 600;
        font-variation-settings: 'wght' 600;
    }
    
    .h-subtitle1 {
        font-family: "IRANSans";
        font-size: 1rem !important; 
        line-height: 2.2rem;
        font-weight: 600 !important;
        font-variation-settings: 'wght' 700, 'rdot' 1;
        word-spacing: -0.05rem;
    }
    
    .h-subtitle2 {
        font-family: "IRANSans";
        font-size: .9rem !important; 
        line-height:  1.8rem;
        font-weight: 500 !important;
        font-variation-settings: 'wght' 800, 'rdot' 1;
        word-spacing: -0.05rem;
    }
    
    .h-body1 {
        font-family: "IRANSans";
        font-size: 1rem !important; 
        line-height: 2.2rem;
        font-variation-settings: 'wght' 300, 'rdot' 1;
        word-spacing: -0.05rem;
    }
    
    .h-body2 {
        font-family: "IRANSans";
        font-size: .9rem !important; 
        line-height: 1.8rem;
        font-variation-settings: 'wght' 200, 'rdot' 1;
        word-spacing: -0.05rem;
    }
    
    .h-caption {
        font-family: "IRANSans";
        font-size: .83rem !important; 
        line-height: 1.7rem;
        font-weight: 200;
        font-variation-settings: 'wght' 200;
        word-spacing: -0.05rem;
    }
    
    .h-overline {
        font-family: "IRANSans";
        font-size: .75rem !important; 
        line-height: 1.6rem;
        font-weight: 200;
        font-variation-settings: 'wght' 200;
        word-spacing: -0.05rem;
    }

    .h-quote {
        font-family: "IRANSans";
        font-size: 1rem !important; 
        line-height: 2.2rem;
        font-weight: 400 !important;
        font-variation-settings: 'wght' 400;
        font-style: italic;
        word-spacing: -0.05rem;
    }
}